body {
    font-family: "PingFang SC", Helvetica, Arial, sans-serif;
}

table {
    border: 1px black solid;

}
/*td ,th {*/
/*    border: 1px solid black;*/
/*}*/
.inputText {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

#regist {
    width: 90px;
    height: 30px;
    font-size: 30px;
}

#code{
    width: 100px;
}

#codeImg {
    width: 90px;
    height: 38px;
}

#login {
    height: 40px;
    width: 80px;
}